
.icon-location-circled:before { content: '\e800'; align-items: center; } /* '' */
.icon-phone-squared:before { content: '\f098'; align-items: center; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; align-items: center; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
